<div class="footer flex-row">
    <div class="company-info flex-col">
      <h1><span class="blue-main">E</span>LITE.</h1>
      <h5>Address: Naxal, Kathmandu, Nepal</h5>
      <h5>Contact number: +977-9741885324</h5>
    </div>
    <div class="footer-nav flex-col">
      <a href="./"> <h5>Home</h5></a>
      <a><h5>Shop</h5></a>
      <a><h5>Services</h5></a>
      <a href="contact"><h5>Contact</h5></a>
    </div>
    <h1 class="footer-bg">ELITE</h1>
  </div>