<div class="nav flex-row">
  <h2 class="logo"><span class="blue-main">E</span>LITE.</h2>
  <div class="nav-links flex-row">
    <a href="/"><h4>Home</h4></a>
    <a href=""><h4>Shop</h4></a>
    <a href="service"><h4>Services</h4></a>
    <a href="contact"><h4>Contacts</h4></a>
  </div>
</div>
