<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/util.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- SEO -->
    <meta
      name="keywords"
      content="Cars, Car selling, Elite Cars, Prajwol Neupane, Preukti Parajuli"
    />
    <meta
      name="description"
      content="Elite Car Showroom is a premium car dealership located in the heart of Kathmandu, Nepal. The showroom offers a wide range of cars to choose from, including both new and used models from popular brands such as Toyota, Honda, Hyundai, and more.The Elite Car Showroom aims to provide a unique car buying experience to its customers by offering quality cars, competitive pricing, and exceptional customer service. The showroom has a team of experienced sales representatives who are dedicated to helping customers find the car that best fits their needs and budget.In addition to car sales, the Elite Car Showroom also provides financing options for customers who need assistance in purchasing a car. The showroom also has a state-of-the-art service center that offers maintenance, repair, and after-sales support to ensure that customers can keep their cars in top condition.Overall, the Elite Car Showroom is a reliable and trustworthy car dealership that provides top-notch cars and excellent customer service to its clients."
    />
    <title>Elite Car || Contact</title>
  </head>
  <body>
    <%- include('./components/nav') %>
    <%- include('./components/footer') %>
  </body>
</html>
