<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/util.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- SEO -->
    <meta
      name="keywords"
      content="Cars, Car selling, Elite Cars, Prajwol Neupane, Preukti Parajuli"
    />
    <meta
      name="description"
      content="Elite Car Showroom is a premium car dealership located in the heart of Kathmandu, Nepal. The showroom offers a wide range of cars to choose from, including both new and used models from popular brands such as Toyota, Honda, Hyundai, and more.The Elite Car Showroom aims to provide a unique car buying experience to its customers by offering quality cars, competitive pricing, and exceptional customer service. The showroom has a team of experienced sales representatives who are dedicated to helping customers find the car that best fits their needs and budget.In addition to car sales, the Elite Car Showroom also provides financing options for customers who need assistance in purchasing a car. The showroom also has a state-of-the-art service center that offers maintenance, repair, and after-sales support to ensure that customers can keep their cars in top condition.Overall, the Elite Car Showroom is a reliable and trustworthy car dealership that provides top-notch cars and excellent customer service to its clients."
    />
    <!-- <meta http-equiv="refresh" content="6"/> -->
    <title>Elite Car</title>
  </head>
  <body>
    <%- include('./components/nav') %>
    <div class="header flex-col">
      <h2 class="header-text fade hide" >
        WELCOME TO <br />
        <span class="blue-light">ELITE</span>
      </h2>
      <div class="header-content flex-row fade hide" >
        <div class="header-info flex-col">
          <h5>the ultimate destination for every <br />car enthusiasts.</h5>
          <button>Explore More</button>
        </div>
        <img src="../images/tesla.png" class="header-image" />
      </div>
    </div>
    <div class="search flex-col"></div>
    <div class="about flex-col">
      <h2 class=" fade hide">Best Dealer for your Four-wheeler</h2>
      <div class="count flex-row  fade hide" >
        <h1 class="orange" id="30"></h1>
        <h1 class="purple" id="40"></h1>
        <h1 class="blue-main" id="8"></h1>
      </div>
      <p class="fade hide">
        With a focus on quality and performance, Elite provides customers with a
        one-stop-shop for all their automotive needs. From top-of-the-line
        sports cars to elegant sedans, Elite offers vehicles from the world's
        most prestigious automakers.
      </p>
      <img src="../images/car-images.png" class="fade hide" />
      <button class=" fade hide">SURF NOW</button>
    </div>
    <%- include('./components/footer') %>
  </body>
  <script src="../js/script.js" defer type="module"></script>
  <script src="../js/animation.js" defer type="module"></script>
</html>
