:root {
  --primary-main: #141010;
  --primary-light: #302a2a;
  --secondary-main: #0c4eb2;
  --secondary-light: #3577db;
  --text-main: #e6e8ec;
  --text-light: #f4f5f8;
  --other-yellow: #b2660c;
  --other-purple: #910cb2;
}
.nav {
  position: sticky;
  width: 84%;
  padding: 15px 8%;
  background-color: var(--primary-main);
  justify-content: space-between;
  align-items: center;
  top: 0px;
}
.nav-links {
  gap: 60px;
  align-items: center;
}
.nav-links h4 {
  font-size: 17px;
  color: var(--text-light);
}
.nav-links h4:hover {
  color: var(--text-main);
}
.header {
  width: 84%;
  padding: 0px 8%;
  height: calc(100vh - 83px);
  background: linear-gradient(
    var(--primary-main),
    var(--primary-main),
    var(--primary-light)
  );
  align-items: flex-start;
  justify-content: space-between;
}
.header-info {
  align-items: flex-start;
  height: 100%;
  width: 55%;
  justify-content: space-around;
}
.header-image {
  height: 400px;
  width: 50%;
  object-fit: contain;
  margin-top: -4%;
}
.header-text {
  margin-top: 10%;
  font-size: 110px;
  color: var(--text-main);
  line-height: 85%;
}
.header-content {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.header-info h5 {
  font-size: 25px;
  line-height: 90%;
  color: var(--text-main);
}
.header-info button {
  font-size: 20px;
  background-color: var(--secondary-light);
  color: var(--text-main);
  cursor: pointer;
  transition: 0.5s;
  border: none;
  padding: 10px 40px;
  letter-spacing: 2px;
  font-weight: 400;
}
.header-info button:hover {
  background-color: var(--secondary-main);
}
.search {
  width: 84%;
  padding: 0px 8%;
  height: calc(100vh - 83px);
  background: linear-gradient(
    var(--primary-light),
    var(--primary-main),
    var(--primary-main)
  );
  align-items: flex-start;
  justify-content: space-between;
}
.about {
  padding: 50px 8%;
  height: 100%;
  width: 84%;
  background: linear-gradient(180deg, #f4f5f8 0%, #e6e8ec 100%);
  align-items: center;
  gap: 50px;
}
.about h2 {
  background: linear-gradient(
    180deg,
    #302a2a 0.6%,
    #302a2a 2.6%,
    rgba(48, 42, 42, 0.73) 96.87%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
}
.count {
  width: 70%;
  align-items: center;
  justify-content: space-between;
}
.count h1 {
  font-size: 75px;
  line-height: 40%;
  text-align: center;
}
.counter-title {
  text-align: center;
  color: #302a2ab2;
  font-size: 22px;
  letter-spacing: -1.5px;
}
.about p {
  color: var(--primary-light);
  text-align: center;
  font-size: 20px;
  line-height: 100%;
  width: 80%;
}
.about img {
  width: 75%;
}
.about button {
  font-size: 20px;
  background-color: var(--primary-light);
  color: var(--text-light);
  cursor: pointer;
  transition: 0.5s;
  border: none;
  padding: 10px 40px;
  letter-spacing: 2px;
  font-weight: 400;
}
.about button:hover {
  background-color: var(--primary-main);
}
.car-detail {
  width: 80%;
  padding: 20px 10%;
  background-color: var(--text-main);
  height: calc(100vh - 120px);
  justify-content: space-between;
}
.car-detail h3 {
  font-size: 40px;
  letter-spacing: -2px;
}
.line {
  width: 50%;
  height: 2px;
  background-color: var(--other-yellow);
}
.car-detail h4 {
  font-size: 25px;
  padding: 10px 5px;
  background-color: rgba(48, 42, 42, 0.65);
  color: var(--text-light);
  width: 70%;
  text-align: center;
}
.car-detail button {
  padding: 10px 5px;
  width: 70%;
  font-size: 22px;
  font-weight: 600;
  color: var(--primary-main);
  border: 0px;
  cursor: pointer;
}
.content-data p {
  font-size: 20px;
  color: var(--primary-light);
  width: 150%;
  line-height: 120%;
}
.content-data {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  translate: 0px 0px;
}
.car-detail img {
  width: 65%;
  translate:15% 0px
}
